# Turn on Expires and set default to 0
ExpiresActive On
ExpiresDefault A0
 
# Set up caching on media files for 1 year (forever?)
<filesMatch "\.(js|css)$">
 ExpiresDefault A29030400
 Header append Cache-Control "public"
</filesMatch>

# Force no caching for dynamic files
<filesMatch "\.(php|cgi|pl|htm|phtml)$">
 ExpiresActive Off
 Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
 Header set Pragma "no-cache"
</filesMatch>
